@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
<div class="flex-Row justify-content-between py-2 px-5" style="border-bottom: 2px solid grey;">
    <div class="logosec hover-pointer">
        <img src="~/img/alliancedesk-logo.png"
             style="width: 185px;" alt="logo"
             onclick="window.location.href = '@Url.Action("Dashboard", "Agent")';">
    </div>
    
    <div class="logosec flex-Row align-items-center justify-content-center">
        <a asp-action="Index" asp-controller="Notification"><i class='bx bx-bell bx-sm bx-fw pt-1 mr-1 bell_icon' style="cursor: pointer; transform: scale(1.1); color: #45474B;"></i></a>

        <div class="btn-group">
            <img src="~/img/profile-logo.png" class="dpicn" data-bs-toggle="dropdown" aria-expanded="false" alt="Profile">
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"><i class='bx bx-user'></i> Profile</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#settings" style="cursor: pointer;"><i class='bx bx-cog'></i> Settings</a></li>
                <li><a class="dropdown-item" asp-action="SignOutUser" asp-controller="Account"><i class='bx bx-log-out'></i> Logout</a></li>
            </ul>
        </div>
        @* <i class='bx bx-cog bx-sm' style="color: #45474B; cursor: pointer;"></i>

        <div class="mr-20 hover-pointer" style="position: relative">           

            <div data-agent-header class="dp">
                <img src="~/img/profile-logo.png" class="dpicn hover-pointer" alt="dp">           
            </div>

            <div data-agent-settings class="hidden absolute" style="top:2rem; left:-5rem; background: white; z-index: 100; border: 1px solid black; border-radius: 3px; padding: 0.5rem 1rem;">
                           
                    <div>
                        <a asp-action="AgentProfile" asp-controller="Agent" class="flex flex-Row align-items-center gap-2">
                            <i class="bx bx-user bx-xs bx-fw" style="color: #3D3B40;"></i>
                            <p class="text-black-50">Profile</p>
                            </a>
                    </div>
                    <div>
                        <i class="bx bx-log-out bx-xs bx-fw" style="color: #3D3B40;"></i>
                    <a asp-action="SignOutUser" asp-controller="Account" class="text-black-50">Logout</a>
                    </div>
               
            </div>

        </div> *@
    </div>
</div>

@Html.Partial("/Views/User/SettingsModal.cshtml")

<script>
    const agentHeader = document.querySelector("[data-agent-header]")
    const agentSettings = document.querySelector("[data-agent-settings]")

    agentHeader.addEventListener("click", () => {
        agentSettings.classList.toggle("hidden")
    })
</script>