@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
<div class="flex-Row justify-content-between py-2 px-5" style="border-bottom: 2px solid grey;">
    <div class="logosec hover-pointer">
        <img src="~/img/alliancedesk-logo.png"
             style="width: 185px;" alt="logo"
             onclick="window.location.href = '@Url.Action("Index", "Account")';">
    </div>
    <div class="logosec">
        <!--- @HttpContextAccessor.HttpContext.Session.GetString("UserName") -->
        <div class="mr-20 hover-pointer" style="position: relative">
            @* <a asp-controller="Account" data-td-none asp-action="Register" class="registerBtn">Register</a> *@
            <a asp-controller="Account" data-td-none asp-action="Login" class="btn btn-danger admin-sb-active-button px-3 py-1">Login</a>
            </div>
            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-gear"></i>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
