@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*General Designs*/
:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --sidebar-color: #FFFFFF;
    --header-color: #FFFFFF;
    --active-button: #E21818;
    --active-button-text: #FFFFFF;
    --text-color: #333333;
    --border-color: #ccc;
    --icon-color: #aaa;
    --hover-background: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*Parent Container Designs*/
#container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 0.5fr 7fr;
    grid-template-rows: 0.3fr 0.5fr 5fr;
    grid-template-areas:
        "header header"
        "sidebar nav"
        "sidebar main";
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

/*Header Designs*/
header {
    background-color: var(--header-color);
    grid-area: header;
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow: visible;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

/*Nav Designs*/
nav {
    background-color: whitesmoke;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    padding-left: 5em;
    padding-right: 5.9em;
    justify-content: space-between;
    gap: 0.7em;
}

/*Main Designs*/
main {
    background-color: whitesmoke;
    grid-area: main;
    padding-left: 5em;
    padding-right: 5em;
    gap: 2em;
    overflow-y: auto;
}

/*Sidebar Designs*/
#sidebar {
    background-color: var(--sidebar-color);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Responsive Designs*/
@media only screen and (max-width: 580px) {
    #container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 4fr 1fr 10fr;
        grid-template-areas:
            "header"
            "sidebar"
            "nav"
            "main";
        overflow-y: auto;
    }

    /*#sidebar {
        overflow-y: auto;
    }*/
}


