#sidebar {
    background-color: var(--sidebar-color);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-container {
    position: relative;
    width: 88%;
    height: 2.5em;
    margin-top: 15px;
    background-color: var(--sidebar-color);
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search-input {
    width: 80%;
    margin-left: 2.3em;
    margin-top: 0.5em;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-color);
}

#search-container i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--icon-color);
}

#button-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 88%;
    background-color: var(--active-button);
    border-radius: 5px;
    color: var(--active-button-text);
    margin: 15px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button-container:hover {
    background-color: darken(var(--active-button), 10%);
}

#button-container i {
    margin-right: 10px;
    font-size: 20px;
}

#button-container .label-1 {
    font-size: 16px;
}

#instruction-container {
    width: 88%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 20px 10px;
}

.instruction-label {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
}

.instruction-label i {
    margin-right: 10px;
    font-size: 20px;
    color: var(--icon-color);
}

.instruction-detail {
    padding: 10px;
}

.instruction-detail li {
    font-size: 12px;
    color: #1682FD;
    margin-bottom: 5px;
    white-space: nowrap;
}

.instruction-detail ul {
    overflow-x: hidden;
    position: relative;
    padding: 0;
}

.instruction-detail ul:hover {
    overflow-x: auto;
}

.instruction-detail ul::-webkit-scrollbar {
    display: none;
}

.instruction-detail ul:hover::-webkit-scrollbar {
    display: block;
    width: 2px;
}

.instruction-detail ul::-webkit-scrollbar-track {
    background-color: transparent;
}

    .instruction-detail ul::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
    }

hr {
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 5px 12px;
    width: 88%;
    align-self: center;
}

.instruction-container .label-2 {
    font-size: 16px;
}

.button-container:hover,
.instruction-label:hover {
    background-color: var(--hover-background);
}
