@model ASI.Basecode.Services.ServiceModels.TicketViewModel

@{
    ViewData["Title"] = "Assign Ticket";
}

<h2>Assign Ticket</h2>

<div>

    <form asp-controller="Ticket" asp-action="PostAssign" asp-route-id="@Model.TicketId" method="post">
        <input type="hidden" name="id" value="@Model.TicketId" />
        <div class="form-group">
            <label asp-for="AgentId" class="control-label">Assign Agent:</label>
            <select asp-for="AgentId" name="agentId" class="form-control">
                <option value="">Select Agent...</option>
                @foreach (var agent in ViewBag.Agents)
                {
                    <option value="@agent.Value">@agent.Text</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Assign</button>
    </form>
</div>