<div class="text-center flex-col justify-content-center align-items-center vh-100" >
    <img src="~/img/403.png"  alt="logo" style="height: 20rem; width: 20rem;">
    <button type="button" class="btn" style="background-color: #E21818; color: white; box-shadow: none;">Back to Dashboard</button>
</div>