


/*Parent Container Designs*/
#container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1.45fr 7fr;
    grid-template-rows: 0.3fr 1fr 5fr;
    grid-template-areas:
        "header header"
        "sidebar nav"
        "sidebar main";
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}





/*Header Designs*/
header {
    background-color: white;
    grid-area: header;
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow: visible;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.header-buttons {
    width: 10em;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    overflow: visible;
}

.logo {
    margin-left: 1.1em;
    margin-bottom: 0.1em;
}

.icon {
    height: 1em;
}

.dpicn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.profile {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 58px;
    right: 0;
    transform: translateX(-16%);
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 9em;
    border-radius: var(--main-radius);
    padding: 5px;
}

    .dropdown li {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .dropdown li a {
            text-decoration: none;
            color: #3D3B40;
            width: 9em;
            padding: 0 7px 0 0;
            margin-top: 5px;
            margin-bottom: 5px;
            align-items: center;
        }

            .dropdown li a:hover {
                background-color: #f0f0f0;
            }

.button {
    background-color: var(--active-button);
    color: var(--active-button-text);
}

    .button:hover {
        background-color: var(--hover-background);
        color: var(--active-button-text);
    }

    .button:active, .button:focus, .button:focus-visible {
        border: none;
        outline: none !important;
        box-shadow: none !important;
    }




/*Nav Designs*/
nav {
    background-color: whitesmoke;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    padding: 1em 5.2em;
    justify-content: space-between;
    gap: 0.7em;
}

.nav_one, .nav_two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter_button {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    justify-content: flex-start;
}

.fbtn {
   background-color: #ccc;
   font-size: 14px;
   padding: 0.5em;
   height: 2.7em;
}

.article_badge {
    border-radius: 50%;
    background-color: #E21818;
    width: 24px;
    height: 24px;
    color: white;
    font-size: 14px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    /*text-align: center;*/
    padding: 0.2em 0.6em;
}


.active_link {
    text-decoration: none;
    color: red;
    margin-top: 0.7em;
    position: relative;
}

.active_link::after {
    content: ""; 
    position: absolute; 
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 2px; 
    background-color: red;
}

    .active_link:hover, .inactive_link:hover {
        color: #E21818;
        text-decoration: none;
    }

.inactive_link {
    text-decoration: none;
    color: black;
    margin-top: 0.7em;
}

#search-articles {
    width: 60%;
    background-color: whitesmoke;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
    height: 3em;
}

#search-input {
    background-color: whitesmoke;
    align-items: flex-start;
    justify-content: flex-start;
}


#buttonContainer {
    gap: 0.7em;
    display: flex;
    flex-direction: row;
}

.activeButton:focus, .activeButton.focus {
    outline: none !important;
    box-shadow: none !important;
}

.activeButton:active {
    color: white;
    background-color: var(--active-button) !important;
}

.activeButton {
    background-color: var(--active-button);
    height: 1em;
    border-radius: 25px;
    padding-bottom: 23px;
    margin-top: 1.5em;
    border: none;
    font-size: 12px;
    outline: none;
    box-shadow: none;
}

    .activeButton:hover {
        background-color: var(--hover-background);
        color: #808080;
    }

.inactiveButton {
    background-color: white;
    color: #808080;
    outline: none;
    height: 1em;
    border-radius: 25px;
    padding-bottom: 23px;
    margin-top: 1.5em;
    border: none;
    font-size: 12px;
    outline: none;
    box-shadow: none;
}

    .inactiveButton:hover {
        background-color: var(--active-button);
        color: white;
    }

.nav-select {
    width: 9em;
    height: 2.5em;
    box-shadow: none;
    outline: none;
    font-size: 12px;
    margin-top: 1.4em;
    border: 0.5px solid #808080;
    cursor: pointer;
}

    .nav-select:active, .nav-select:focus, .nav-select:focus-visible {
        box-shadow: none !important;
        outline: none !important;
        border: 0.5px solid #808080;
    }





/*Main Designs*/
main {
    background-color: whitesmoke;
    grid-area: main;
    padding: 2em 5em;
    gap: 2em;
    overflow-y: auto;
}

.link_card {
    text-decoration: none;
    color: black;
}

.link_card:hover {
    text-decoration: none;
    color: red;
}

.article_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
}

.article_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article_category {
    color: #2417BA;
    border: 1px solid #2417BA;
    width: 14em;
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgba(36, 23, 186, 0.2);
    text-align: center;
}

#card_content {
    border-radius: 5px;
}

.ticket-container {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
}

.ticket-link {
    text-decoration: none;
}

.top-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.name {
    color: #2F3645;
    font-size: 14px;
    font-weight: 500;
}

.date {
    color: #808080;
    font-size: 12px;
}

.question {
    margin-top: 0.8em;
    font-weight: 600;
    font-size: 18px;
    color: #2F3645;
}

.details {
    color: #2F3645;
    font-size: 12px;
    font-weight: 400;
    margin-top: 1em;
}

.option {
    height: 2em;
    width: 2em;
}

.icon-button, icon-button:focus, icon-button:active, icon-button:focus-visible {
    width: 0.5em;
    padding: 0;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.closebtn1 {
    padding: 0;
}

.status1 {
    font-size: 12px;
    background-color: green;
    padding-left: 1em;
    color: white;
}

.ticket-modal1 {
    padding: 1em;
}


/*Sidebar Designs*/
#sidebar {
    background-color: var(--sidebar-color);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8em;
}

.button-container {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    width: 88%;
    background-color: var(--inactive-button);
    border-radius: 5px;
    color: var(--inactive-button-text);
    margin: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    #button-container:hover {
        background-color: darken(var(--active-button), 10%);
    }

    #button-container i {
        margin-right: 10px;
        font-size: 20px;
    }

    #button-container .label-1 {
        font-size: 16px;
    }



.button-container:hover {
    background-color: var(--hover-background);
}

.active-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 88%;
    background-color: var(--active-button) !important;
    border-radius: 5px;
    color: var(--active-button-text);
    margin: 2px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none !important;
}

    .active-button:hover {
        background-color: var(--hover-background);
        color: var(--active-button-text);
        box-shadow: none !important;
        -webkit-tap-highlight-color: transparent;
    }

.inactive-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 88%;
    background-color: var(--inactive-button);
    border-radius: 5px;
    color: var(--inactive-button-text);
    margin: 2px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none !important;
}

    .inactive-button:hover {
        background-color: var(--hover-background);
        color: var(--inactive-button-text);
        box-shadow: none !important;
        -webkit-tap-highlight-color: transparent;
    }

.inactive-underline-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 88%;
    color: var(--inactive-button-text);
    margin: 20px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none !important;
    text-decoration: none;
}

.active-underline-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 88%;
    color: var(--active-button);
    margin: 20px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none !important;
    text-decoration: underline;
    text-decoration-color: var(--active-button);
}

.inactive-underline-button:hover {
    color: var(--inactive-button-text);
    text-decoration: none;
    background-color: var(--inactive-button);
    box-shadow: none;
}

.active-underline-button:hover {
    color: var(--active-button);
    text-decoration-color: var(--active-button);
    box-shadow: none;
}


/*MODALS*/

.email {
    font-size: 12px;
}





/*Responsive Designs*/
@media only screen and (max-width: 580px) {
    #container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 4fr 1fr 10fr;
        grid-template-areas:
            "header"
            "sidebar"
            "nav"
            "main";
        overflow-y: auto;
    }

    /*#sidebar {
        overflow-y: auto;
    }*/
}






