@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/functionalities.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}

<div>

    <div class="login-container">
    
        <form method="post" action="/Account/Login" id="loginForm">

            <div class="">
                <img class="mb-2 d-block mx-auto pr-3" src="~/img/alliancedesk-logo.png" style="width: 350px;" alt="logo" onclick="window.location.href = '@Url.Action("/", "Account")';">
            </div>

            <p class="mb-3">Welcome to Alliance Help Desk! How can we assist you today?</p>

            <div class="form-floating mb-3">
                <input type="text" class="form-control pb-1" id="Username" placeholder="Username" asp-for="UserName"/>
                <label for="Username">Username</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-floating position-relative mb-3">
                <input type="password" class="form-control pb-1" id="Password" placeholder="Password" asp-for="Password">
                <label for="Password">Password</label>
                <span class="eye-icon">
                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                </span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-danger">@Login</button>

        </form>

        <img src="~/img/login-bg.png" class="img-fluid"  alt="Background"/>

    </div>

</div>

@section scripts {
    <script>

        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }

        // For toggling the eye-icon of password field
        $(document).ready(function () {
            $('#togglePassword').on('click', function () {
                const passwordField = $('#floatingPassword');
                const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
                passwordField.attr('type', type);

                // Toggle the eye icon
                $(this).toggleClass('bi-eye');
                $(this).toggleClass('bi-eye-slash');
            });
        });

    </script>
}