@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/functionalities.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}
@* <div>
    @Html.AntiForgeryToken()
</div> *@

<div class="login-container">
    
    <form method="post" action="/Account/Login" id="loginForm">
        <h2 class="text-center font-weight-bold">Alliance Help Desk</h2>
        <p>Welcome to Alliance Help Desk! How can we assist you today?</p>
        <div class="form-outline">
            <label class="form-label" style="font-size: 10px;" for="form2Example11">Username</label>
            <input type="text" id="form2Example11" class="form-control"
                   asp-for="UserId" placeholder="Enter username" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" style="font-size: 10px;" for="form2Example22">@Password</label>
            <input type="password" id="form2Example22" class="form-control"
                   asp-for="Password" placeholder="Enter password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button class="registerBtn w-100" type="submit">
            @Login
        </button>
    </form>
    <img src="~/img/login-bg.png"
         alt="logo" />
</div>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}