@section styles {
    <link rel="stylesheet" href="~/css/user_tickets.css" />
}

<div class="ticket-modal1">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Preferences</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
</div>

