<div class="modal fade" id="updatePrio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content p-3">

            <h3 class="mb-3">Update Priority:</h3>

            <select class="form-select mb-4" aria-label="Default select example">
                <option selected>Select an option</option>
                <option value="1">Urgent and Important</option>
                <option value="2">Important but not urgent</option>
                <option value="3">Urgent but not important</option>
                <option value="4">Not urgent and not important</option>
            </select>

            <div class="d-flex gap-3 justify-content-center">
                <button type="button" class="btn btn-danger">Assign</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
