.admin-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
    width: 100%;
    height: 100%;
}

    .admin-body.edit-active {
        display: grid;
        grid-template-columns: 1fr 20rem;
    }

.view-user-nav {
    display: flex;
    justify-content: space-between;
}


.j-search-container {
    border: 2px solid #9E9E9E;
    border-radius: 1rem;
    padding: 0rem 1rem;
}

.j-search-container input {
    border: none;
    padding: 0.5rem 1rem 0.5rem 2rem;
    outline: none; 
}


    .j-search-container input:focus {
        border: none;
        outline: none;
    }

    .j-search-container:focus-within {
        border: 2px solid #E21818;
    }

    .j-search-container:focus-within i {
        color :#E21818;
    }

.role-container {
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.6rem;
}

.role-agent {
    color: #3818D9;
    border: 1px solid #A899F1;
    background-color: #F7F5FF;
}

.role-admin {
    color: #03781D;
    border: 1px solid #6DC580;
    background-color: #F0F9F2;
}

.agents {
    background-color: #FFF;
}

.agents:hover,
.selected-agent {
    background-color: #FFE5E5;
    box-shadow: 0px 5px 4px grey;
}

.user-img-profile {
    height: 3.5rem;
    width: 3.5rem
}

/*MODAL */
.modal-admin {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.modal-input, .select-input {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}

    .modal-input span {
        font-size: 0.5rem;
    }

    .modal-input:focus-within,
    .select-input:focus-within {
        border: 1px solid red;
    }

    .modal-input input {
        border: none;
    }

    .modal-input input:focus {
        outline: none;
    }

    .modal-input select {
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

.delete-btn {
    border-radius: 4px;
    border: 1.5px solid #E21818;
    background-color: white;
    color: #E21818;
    padding: 1rem 2rem;
}

.generate-report-btn {
    border-radius: 4px;
    border: 1.5px solid black;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    text-decoration: none;
}

.delete-btn:focus {
    outline: 2px solid #E21818;
}

.delete-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

.delete-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*ADMIN NAV BAR*/

.nav-item.active-admin-nav {
    padding-bottom: 0.5rem;
    font-weight: 500;
    color: #202020;
    border-bottom: 2px solid #3818D9;
}

.nav-item {
    color: #9E9E9E;
}

.admin-sidebar {
    padding: 1rem;
}
.admin-sidebar a {
    margin: 0;
}

/* BUTTONS */
.admin-sb-active-button {
    background-color: #E21818;
    color: white;
}

    .admin-sb-active-button i,
    .admin-sb-active-button p {
        color: white;
    }

    .admin-sb-active-button:hover {
        background-color: rgba(226,24,24, 0.8);
        transition: ease-in-out 250ms;
    }

.admin-sb-inactive-button {
    background-color: #FAFAFA;
    color: black;
}

    .admin-sb-inactive-button:hover {
        background-color: rgba(226,24,24, 0.6);
        transition: background-color ease-in-out 350ms;
    }

        .admin-sb-inactive-button:hover p,
        .admin-sb-inactive-button:hover i{
            color: white;
        }

    .admin-sb-inactive-button,
    .admin-sb-active-button {
        padding: 0.5rem 1rem;
        border-radius: 3px;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
    }

a[data-admin-btn],
a[data-a-btn],
a[data-td-none],
a[data-td-none]:hover {
    text-decoration: none;
}

.admin-ticket {
    box-shadow: 0 5px 5px -5px grey;
}

/* TICKET */

.ticket-tag {
    display: flex;
    align-items: center;
}


@media (max-width: 600px) {
    .admin-body {
        display: flex;
        flex-direction: column;
    }

        .admin-body.edit-active {
            display: flex;
            flex-direction: column;
        }

    .view-user-nav {
        display: flex;
        flex-direction: column;
    }

    .j-search-container {
        padding: 0 0 0 10px;
    }

    .j-search-container input {
        padding: 3px 0 3px 0;
    }
}


/* MEDIA */
@media (min-width: 600px) and (max-width: 900px) {
    .admin-body {
        display: flex;
        flex-direction: column;
    }

        .admin-body.edit-active {
            display: flex;
            flex-direction: column;
        }

    .view-user-nav {
        display: flex;
        flex-direction: column;
    }

    .j-search-container {
        padding: 0 0 0 10px;
    }

    .j-search-container input {
        padding: 3px 0 3px 0;
    }
}



/* DASHBOARD */

.admin-dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-column-gap: 2rem;
    margin-top: 2rem;
}

.admin-dashboard-links li {
    list-style-type: circle;
    color: #1682FD;
    margin-left: 2rem;
}

.admin-dashboard-links li:hover {
    font-weight: 600;
    cursor: pointer;
}



.agent-metrics {
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
    width: 100%;
}

.fbtn {
    background-color: #ccc;
    font-size: 14px;
    padding: 0.5em;
    height: 2.7em;
}


.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

    .pagination-container button {
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        border: none;
        background-color: #E21818;
        color: white;
        cursor: pointer;
        border-radius: 3px;
    }

    .pagination-container button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }



.agent-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
}

