.asgn-tix-item-2 {
    display: grid;
    grid-template-columns: 65% 15% 10% 10%;
    padding-block: 0.5rem;
}

.agent-performance-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    text-align: center;
    padding-block: 0.5rem;
}

.bg-blue {
    background: #0094ff;
}

.bg-sayan {
    background: #ff6a00;
}