@model ASI.Basecode.Services.ServiceModels.UserTicketsViewModel

<div class="modal fade" id="editTicket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content p-3">
            <div id="main_editcard">
                <div class="top_modal d-flex justify-content-between align-items-center mb-3">
                    <h3>Edit Ticket</h3>
                    <button type="button" class="btn" data-bs-dismiss="modal">
                        <i class='bx bx-x bx-sm icon' style="color: #45474B; cursor: pointer;"></i>
                    </button>
                </div>

                <form id="editTicketForm" asp-action="EditTicketPost" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Ticket.TicketId" id="EditTicketId" />
                    <div class="form-floating mb-3">
                        <input asp-for="Ticket.Title" type="text" class="form-control" id="EditTitle" placeholder="Ticket Title">
                        <span asp-validation-for="Ticket.Title" class="text-danger"></span>
                        <label for="EditTitle">Ticket Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Ticket.CategoryId" class="form-select" id="EditCategory" aria-label="Category Options">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Key">@category.Value</option>
                            }
                        </select>
                        <span asp-validation-for="Ticket.CategoryId" class="text-danger"></span>
                        <label for="EditCategory">Category Options</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select asp-for="Ticket.PriorityId" class="form-select" id="EditPriority" aria-label="Priority Options">
                            @foreach (var priority in Model.Priorities)
                            {
                                <option value="@priority.Key">@priority.Value</option>
                            }
                        </select>
                        <span asp-validation-for="Ticket.PriorityId" class="text-danger"></span>
                        <label for="EditPriority">Priority Options</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea asp-for="Ticket.Description" class="form-control" placeholder="Description" id="EditDescription" style="height: 100px"></textarea>
                        <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                        <label for="EditDescription">Description</label>
                    </div>

                    <div class="d-flex pr-3">
                        <button type="submit" class="btn button button_size">
                            Submit
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 