@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "In Progress Tickets";
}

@section styles {
    <link rel="stylesheet" href="~/css/user_inProgress_tickets.css" />

}

<div id="container">
    <header>
        <div class="logo">
            <img src="~/img/alliancedesk-logo.png" style="width: 185px;" alt="logo" onclick="window.location.href = '@Url.Action("Index", "Home")';">
        </div>

        <div class="header-buttons">
            <button type="button" class="btn button" data-bs-toggle="modal" data-bs-target="#createTicket"><i class='bx bx-plus-circle bx-xs bx-fw uh' style="align-self:center;"></i> Create Ticket </button>
            <i class='bx bx-bell bx-sm icon' style="color: #45474B; cursor: pointer;"></i>
            <i class='bx bx-cog bx-sm icon' style="color: #45474B; cursor: pointer;"></i>

            <a class="profile" href="#">
                <img src="~/img/profile-logo.png" class="dpicn hover-pointer" alt="dp">
            </a>

            <ul class="dropdown" id="dropdownMenu">
                <li>

                    <a class="dropdown-item" href="#"><i class="bx bx-user bx-xs bx-fw" style="color: #3D3B40;"></i> Profile</a>
                </li>
                <li>

                    <a class="dropdown-item" asp-action="SignOutUser" asp-controller="Account"><i class="bx bx-log-out bx-xs bx-fw" style="color: #3D3B40;"></i> Logout</a>
                </li>
            </ul>

        </div>
    </header>

    <nav>
        <div id="buttonContainer">
            <a asp-controller="User" asp-action="OpenTickets"><input class="btn btn-primary inactiveButton" type="button" value="Open"></a>
            <a asp-controller="User" asp-action="InProgress"><input class="btn btn-primary activeButton" type="button" value="In Progress"></a>
            <a asp-controller="User" asp-action="Resolved"><input class="btn btn-primary inactiveButton" type="button" value="Resolved"></a>
            <a asp-controller="User" asp-action="CloseTickets"><input class="btn btn-primary inactiveButton" type="button" value="Close"></a>
        </div>

        <select class="form-select nav-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Date</option>
            <option value="1">Category</option>
        </select>
    </nav>

    <main>
        <div id="card_content">

        </div>

        <div class="modal fade" id="createTicket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content p-3">
                    <div id="main_card">

                        <div class="top_modal d-flex justify-content-between align-items-center mb-3">
                            <h3>New Ticket</h3>
                            <button type="button" class="btn" data-bs-dismiss="modal"><i class='bx bx-x bx-sm icon' style="color: #45474B; cursor: pointer;"></i></button>
                        </div>

                        <input type="text" class="form-control mb-3" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">

                        <div class="input-group mb-3">
                            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option disabled selected>Choose Categories</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option disabled selected>Priority</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <textarea class="form-control mb-3" id="largeTextField" rows="10" cols="50" placeholder="Description"></textarea>

                        <div class="button_card mb-3 d-flex justify-content-between">
                            <button type="button" class="btn attachment custom-button" style="background-color: #7E7E7E; color: white;"><i class='bx bx-image-add bx-xs bx-fw uh' style="align-self:center;"></i> Add Attachment </button>
                            <button type="button" class="btn attachment custom-button" style="background-color: #E21818; color: white;"><i class='bx bxl-telegram bx-xs bx-fw uh' style="align-self:center;"></i> Submit </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <div id="sidebar">

        <div id="search-container">
            <i class='bx bx-search'></i>
            <input type="text" id="search-input" placeholder="Search Tickets">
        </div>

        <div id="button-container">
            <i class='bx bx-list-ul'></i>
            <span class="label-1">Tickets</span>
        </div>

        <div id="instruction-container">

            <div class="instruction-label">
                <i class='bx bx-star'></i>
                <span class="label-2">Instructions</span>
            </div>

            <hr />

            <div class="instruction-detail">
                <ul>
                    <li>&#8226; Click the 'Create Ticket'</li>
                    <li>&#8226; Enter the necessary details</li>
                    <li>&#8226; Submit if done</li>
                </ul>
            </div>

            <div class="instruction-label">
                <i class='bx bx-link'></i>
                <span class="label-2">Contacts</span>
            </div>

            <hr />

            <div class="instruction-detail">
                <ul>
                    <li>&#8226; abellalance2@gmail.com</li>
                    <li>&#8226; jethrocenas@gmail.com</li>
                    <li>&#8226; rehamdee.camama@g.msuiit.edu.ph</li>
                </ul>
            </div>

        </div>

    </div>

</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var dpIcon = document.querySelector('.dpicn');
        var dropdownMenu = document.getElementById('dropdownMenu');

        dpIcon.addEventListener('click', function (event) {
            event.stopPropagation();

            if (dropdownMenu.style.display === 'block') {
                dropdownMenu.style.display = 'none';
            } else {
                dropdownMenu.style.display = 'block';
            }
        });
    });



    document.addEventListener('DOMContentLoaded', function () {
        var buttonContainer = document.getElementById('buttonContainer');
        var buttons = buttonContainer.querySelectorAll('input[type="button"]');

        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                // Remove activeButton class from all buttons
                buttons.forEach(function (btn) {
                    btn.classList.remove('activeButton');
                    btn.classList.add('inactiveButton');
                });

                // Add activeButton class to the clicked button
                this.classList.remove('inactiveButton');
                this.classList.add('activeButton');
            });
        });
    });


    var dataFromDatabase = [
        { image: '/img/profile-logo.png', name: 'Golanginya', date: '5 min ago', question: 'How to patch KDE on FreeBSD?', details: 'Lorem ipsum dolor sit met, consectetur..', link: '#', agentProfile: '/img/profile-logo.png', agentName: 'AizhanMaratovna', agentDate: '5 min ago' },
        { image: '/img/profile-logo.png', name: 'Golanginya', date: '5 min ago', question: 'How to patch KDE on FreeBSD?', details: 'Lorem ipsum dolor sit met, consectetur..', link: '#', agentProfile: '/img/profile-logo.png', agentName: 'AizhanMaratovna', agentDate: '5 min ago' },
        { image: '/img/profile-logo.png', name: 'Golanginya', date: '5 min ago', question: 'How to patch KDE on FreeBSD?', details: 'Lorem ipsum dolor sit met, consectetur..', link: '#', agentProfile: '/img/profile-logo.png', agentName: 'AizhanMaratovna', agentDate: '5 min ago' },
        { image: '/img/profile-logo.png', name: 'Golanginya', date: '5 min ago', question: 'How to patch KDE on FreeBSD?', details: 'Lorem ipsum dolor sit met, consectetur..', link: '#', agentProfile: '/img/profile-logo.png', agentName: 'AizhanMaratovna', agentDate: '5 min ago' },
        { image: '/img/profile-logo.png', name: 'Golanginya', date: '5 min ago', question: 'How to patch KDE on FreeBSD?', details: 'Lorem ipsum dolor sit met, consectetur..', link: '#', agentProfile: '/img/profile-logo.png', agentName: 'AizhanMaratovna', agentDate: '5 min ago' },
        { image: '/img/profile-logo.png', name: 'Golanginya', date: '5 min ago', question: 'How to patch KDE on FreeBSD?', details: 'Lorem ipsum dolor sit met, consectetur..', link: '#', agentProfile: '/img/profile-logo.png', agentName: 'AizhanMaratovna', agentDate: '5 min ago' },
        { image: '/img/profile-logo.png', name: 'Golanginya', date: '5 min ago', question: 'How to patch KDE on FreeBSD?', details: 'Lorem ipsum dolor sit met, consectetur..', link: '#', agentProfile: '/img/profile-logo.png', agentName: 'AizhanMaratovna', agentDate: '5 min ago' },
    ];

    var cardContent = document.getElementById('card_content');

    dataFromDatabase.forEach(function (item) {


        var container = document.createElement('div');
        container.className = 'ticket-container';

        var link = document.createElement('a');
        link.href = item.link;
        link.className = 'ticket-link';

        var topContainer = document.createElement('div');
        topContainer.className = 'top-container';
        link.appendChild(topContainer);

        var image = document.createElement('img');
        image.className = 'image';
        image.src = item.image;
        image.alt = 'image';
        topContainer.appendChild(image);

        var nameDateContainer = document.createElement('div');
        nameDateContainer.className = 'nameDateContainer';
        topContainer.appendChild(nameDateContainer);

        var name = document.createElement('h5');
        name.className = 'name';
        name.textContent = item.name;
        nameDateContainer.appendChild(name);

        var date = document.createElement('p');
        date.className = 'date';
        date.textContent = item.date;
        nameDateContainer.appendChild(date);

        var question = document.createElement('h2');
        question.className = 'question';
        question.textContent = item.question;
        link.appendChild(question);

        var details = document.createElement('p');
        details.className = 'details';
        details.textContent = item.details;
        link.appendChild(details);

        var agentContainer = document.createElement('div');
        agentContainer.className = 'agent-container';
        link.appendChild(agentContainer);

        var agentImage = document.createElement('img');
        agentImage.className = 'agent-image';
        agentImage.src = item.agentProfile
        agentImage.alt = 'image';
        agentContainer.appendChild(agentImage);

        var agentNameDateContainer = document.createElement('div');
        agentNameDateContainer.className = 'agent-name-date-container';
        agentContainer.appendChild(agentNameDateContainer);

        var agentName = document.createElement('h5');
        agentName.className = 'agent-name';
        agentName.textContent = item.agentName;
        agentNameDateContainer.appendChild(agentName);

        var agentDate = document.createElement('p');
        agentDate.className = 'agent-date';
        agentDate.textContent = item.agentDate;
        agentNameDateContainer.appendChild(agentDate);

        var assignedAgent = document.createElement('div');
        assignedAgent.className = 'assign-agent';
        assignedAgent.textContent = 'Assigned agent';
        agentContainer.appendChild(assignedAgent);

        container.appendChild(link);        
        cardContent.appendChild(container);
    });

</script>

