@{
    ViewData["Title"] = "User Layout";
}

@section styles {
    <link rel="stylesheet" href="~/css/User/user_open_tickets.css" />

}

    <div id="container">
        
            @Html.Partial("User_Header")
        
        
            @Html.Partial("User_sidebar")
            @Html.Partial("CreateModal")
        <nav>
            
        </nav>
        <main>
            
        </main>
    </div>


