<div class="modal fade" id="viewTicket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="ticket-modal1">
                <div class="top_modal d-flex justify-content-between align-items-center mb-3">
                    <h3>View Ticket</h3>
                    <button type="button" class="btn closebtn1" data-bs-dismiss="modal"><i class='bx bx-x bx-sm icon' style="color: #45474B; cursor: pointer;"></i></button>
                </div>

                <div class="top-container">
                    <img class="image" src="/img/profile-logo.png" alt="image">
                    <div class="nameDateContainer">
                        <h5 class="name" id="ViewName">Name</h5>
                        <p class="date" id="ViewDate">Date</p>
                    </div>
                </div>
                <h2 class="question" id="ViewTitle">Title</h2>
                <p class="details" id="ViewDetails">Details</p>
            </div>

            <div class="gallery" id="ViewGallery"></div>

            <div class="status-container">
                <div class="status1" id="ViewStatus"></div>
                <div class="statusdate" id="ViewStatusDate"></div>
            </div>
        </div>
    </div>
</div>