@{
    ViewData["Title"] = "Home Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/functionalities.css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Index" asp-controller="Notification">Practice CRUD</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Admin" asp-action="ViewUser">View Admin Frontend</a>
    <br />
    <a asp-controller="User" asp-action="UserLayout">View User Frontend</a>
</div>
